extends ../template

block main_container
	div(class="direct-download-container direct-download-container-js")
		p In this page you can find direct links to all the SustData records in CSV format.
		a(href='https://cld.pt/dl/download/33880e2e-b967-4d00-af5b-e3bc3d988874/SustData_Readme.pdf', target='_blank', title='Read about the SustData tables', alt='Read about the SustData tables') Read me (74 kB)

		// POWER SAMPLE
		p
			strong Energy Consumption
		a(href='https://cld.pt/dl/download/23ec31fa-b077-4970-b177-0c1c036908ba/ps_d1.zip',
			title='Download energy consumption for deployment one',
			alt='Download energy consumption for deployment one')
			| Deployment one (22.4 MB)

		br
		a(href='https://cld.pt/dl/download/ec308328-d91a-40a0-83dd-89c8927005dd/ps_d2.zip',
			title='Download energy consumption for deployment one',
			alt='Download energy consumption for deployment two')
			| Deployment two (370.5 MB)

		br
		a(href='https://cld.pt/dl/download/f808d674-71b1-442f-b335-3e68aa2e21c1/ps_d3.zip',
			title='Download energy consumption for deployment three',
			alt='Download energy consumption for deployment one')
			| Deployment three (340.2 MB)

		br
		a(href='https://cld.pt/dl/download/47cf7147-a179-4402-95d1-c784c6abd270/ps_d4.zip',
			title='Download energy consumption for deployment four',
			alt='Download energy consumption for deployment one')
			| Deployment four (190 MB)


		// POWER EVENT
		p
			strong Power Event
		a(href='https://cld.pt/dl/download/f677078d-2b7c-4594-a874-0b2eca6c0147/pe_d1.zip',
			title='Download power events for deployment one',
			alt='Download power events for deployment one')
			| Deployment one (9.1 MB)

		br
		a(href='https://cld.pt/dl/download/2389f4f0-acc0-4c8d-b366-ea74403e4f20/pe_d2.zip',
			title='Download power events for deployment two',
			alt='Download power events for deployment two')
			| Deployment two (38.7 MB)

		br
		a(href='https://cld.pt/dl/download/a9755a06-5fe3-4174-a5e3-c5800c9de663/pe_d3_nt.zip',
			title='Download power events for deployment three',
			alt='Download power events for deployment three')
			| Deployment three (28.5 MB)

		br
		a(href='https://cld.pt/dl/download/8cad437c-5f96-4901-ba78-85dfee1563ad/pe_d3_1.zip',
			title='Download power events for deployment three (w/ traces) Part I',
			alt='Download power events for deployment three (w/ traces) Part I')
			| Deployment three (w/ traces) Part I (2.7 GB)

		br
		a(href='https://cld.pt/dl/download/7c1c7d3f-b599-4d36-9414-2830ea2571b3/pe_d3_2.zip',
			title='Download power events for deployment three (w/ traces) Part II',
			alt='Download power events for deployment three (w/ traces) Part II')
			| Deployment three (w/ traces) Part II (1.5 GB)

		br
		a(href='https://drive.google.com/file/d/0BwLg0bl6UTC7cEc5bk1WN2tyUDA/view?usp=sharing',
			title='Download power events for deployment three (w/ traces) Part III',
			alt='Download power events for deployment three (w/ traces) Part III')
			| Deployment three (w/ traces) Part III (4.4 GB)


		br
		a(href='https://cld.pt/dl/download/c43d9947-9824-4513-8f8f-55e96a4f9ef8/pe_d4_nt.zip',
			title='Download power events for deployment four',
			alt='Download power events for deployment four')
			| Deployment four (26.4 MB)

		br
		a(href='https://cld.pt/dl/download/d60fe67e-13d9-4087-8166-47665bcadc74/pe_d4_1.zip',
			title='Download power events for deployment four (w/ traces) Part I',
			alt='Download power events for deployment four (w/ traces) Part I')
			| Deployment four (w/ traces) Part I (3.5 GB)

		br
		a(href='https://cld.pt/dl/download/40489085-fb1f-4693-a36e-e1ff2df2fe25/pe_d4_2.zip',
			title='Download power events for deployment four (w/ traces) Part II',
			alt='Download power events for deployment four (w/ traces) Part II')
			| Deployment four (w/ traces) Part II (2.5 GB)

		br
		a(href='https://drive.google.com/file/d/0BwLg0bl6UTC7U04xQ3ZmckZhWGc/view?usp=sharing',
			title='Download power events for deployment four (w/ traces) Part III',
			alt='Download power events for deployment four (w/ traces) Part III')
			| Deployment four (w/ traces) Part III (2.8 GBe)

		// USER EVENT
		p
			strong User Event
		a(href='https://cld.pt/dl/download/70ce06ce-f67e-4505-b535-6bb0a132fb1a/UE_ALL.zip', title='Download user events for all deployments', alt='Download energy consumption for deployment one') All deployments (618 kB)

		// ENVIRONMENTAL DATA
		p
			strong Environment
		a(href='https://cld.pt/dl/download/47ead388-f578-4480-a816-36174993ce0c/environmental.zip', title='Download environmental data during all deployments', alt='Download energy consumption for deployment one') All deployments (1 MB)

block extend_js
	script.
		$(document).ready(function() {
			$('.direct-download-container-js a').on('click', function(e){
				e.preventDefault();

				// newActivityLog(2, $(this).attr('alt'));
				window.open($(this).attr('href'),'_blank');
			});
		});
