
div(class="field-filters-js" data-field="#{field.field}" data-data_type="#{field.type}")
	span.filter-container #{field.description}
	div.form-group
		if field.type == 'float'
			div.input-container
				input(name="exactly", type="text", placeholder="Exactly", class="form-control")

			div.input-container
					input(name="min", type="text", placeholder="Minimum", class="form-control inline-left")
					input(name="max", type="text", placeholder="Maximum", class="form-control inline-right")

		else if field.type == 'date'
			div.input-container
				input(name="exactly", type="text", placeholder="Exact date", class="form-control date")

			div.input-container
				input(name="min", type="text", placeholder="Minimum date", class="form-control inline-left date")
				input(name="max", type="text", placeholder="Maximum date", class="form-control inline-right date")

		else if field.type == 'integer'
			select(name="exactly", class="form-control" style="width: 40%")
				option(value="")
				for row in homes
					option(value='#{row}') #{row}

		else if field.type == 'boolean'
			select(name="exactly", class="form-control" style="width: 40%")
				option(value="") ALL
				option(value="1") Yes
				option(value="0") No

block append js
	script.
		$('.date').datetimepicker();
		$('.date').datepicker( "option", "dateFormat", "yy-mm-dd" );
