ul(class="horizontal-nav horizontal-nav-js inline-list")
	if (session.logged_in)
		li(class="data-consult-js")
			a(href="#{config.web.site_url}:#{config.web.port}/datasetExplorer") Explore
		li(class="direct-download-js")
			a(href="#{config.web.site_url}:#{config.web.port}/directDownload") Download

	li.about-js
		a(href="#{config.web.site_url}:#{config.web.port}/about") About
	li.contacts-js
		a(href="#{config.web.site_url}:#{config.web.port}/contacts") Contacts

	if (!session.logged_in)
		li.user.signin-js
			a(href="#{config.web.site_url}:#{config.web.port}/user/signin") Log In
	else
		li.user.signin.signin-js #{session.name}&nbsp
			div.btn-group.user-menu
				button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					span.caret
				ul.dropdown-menu(role='menu')
					li
						a(href='#{config.web.site_url}:#{config.web.port}/user/profile') Profile
					li
						a(href='#' class="log-out-js") Log Out

script.
	$(function(){
		var url = window.location.href;
		if (url.indexOf("datasetExplorer") > -1)
			$('.horizontal-nav .data-consult-js').addClass('active');
		else if (url.indexOf("about") > -1)
			$('.horizontal-nav .about-js').addClass('active');
		else if (url.indexOf("contacts") > -1)
			$('.horizontal-nav .contacts-js').addClass('active');
		else if (url.indexOf("signin") > -1)
			$('.horizontal-nav .signin-js').addClass('active');
		else if (url.indexOf("directDownload") > -1)
			$('.horizontal-nav .direct-download-js').addClass('active');
	});
